# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.pyc

# Django
*.log
db.sqlite3
media/
staticfiles/
*.pot
*.mo

# Virtual environments
.venv/
env/
venv/

# VS Code
.vscode/

# OS files
.DS_Store
Thumbs.db

# Migrations
*/migrations/__pycache__/
*/migrations/*.pyc
*/migrations/*.pyo

# Coverage reports
htmlcov/
.coverage
.tox/
.nox/
.cache/
.pytest_cache/
.coverage.*

# MyPy
.mypy_cache/
.dmypy.json

# Pipenv
Pipfile.lock

# Other
*.swp
*.swo
.idea/